@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 body {
  margin: 0;
  padding: 0;
  background-image: url("images/cluedo.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar { width: 0px !important }
.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;  
}
.landing{
  background-color: pink !important;
}

.story {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
 
}
.story p {
  font-family: "Segoe UI", Arial, sans-serif;
  padding: 0 10% 10%;
  color: white;
  line-height: 1.5;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.start {
  background-color: white;
  color: black;
}
.logo {
  width: 100%;
  height: 50%;
  text-align: center;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Amatic SC", cursive;
}

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: var(--button-text-color);
  cursor: pointer;
  --button-text-color: var(--background-color);
  --button-text-color-hover: var(--button-background-color);
  --border-color: #7d8082;
  --button-background:rgb(146, 8, 20) #ece8e1;
  --highlight-color: rgb(230, 59, 59);
  --button-inner-border-color: transparent;
  --button-bits-color: var(--background-color);
  --button-bits-color-hover: var(--button-background-color);
  position: relative;
  padding: 8px;
  margin-bottom: 10%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20%;
  transition: all 0.15s ease;
}

.btn::before,
.btn::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid var(--border-color);
  transition: all 0.15s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
}

.btn:active,
.btn:focus {
  outline: none;
}

.btn:active::before,
.btn:active::after {
  right: 3px;
  left: 3px;
}

.btn:active::before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}

.btn__inner {
  position: relative;
  display: block;
  padding: 30px 80px;
  background-color: var(--button-background-color);
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px var(--button-inner-border-color);
}

.btn__inner::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: var(--button-bits-color);
}

.btn__inner::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: var(--button-bits-color);
  transition: all 0.2s ease;
}

.btn__slide {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: var(--highlight-color);
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.btn__content {
  position: relative;
}

.btn:hover {
  color: var(--button-text-color-hover);
}

.btn:hover .btn__slide {
  width: calc(100% + 15px);
}

.btn:hover .btn__inner::after {
  background-color: var(--button-bits-color-hover);
}

.btn--light {
  --button-background-color: var(--background-color);
  --button-text-color: var(--highlight-color);
  --button-inner-border-color: var(--highlight-color);
  --button-text-color-hover: #ece8e1;
  --button-bits-color-hover: #ece8e1;
}

.next{
  padding-top: 25%;
  padding-bottom: 25%;
}